* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}


.c-header {
  border-bottom: 1px solid #e2e8f0;
  background-color: #D2C2B0;
}
.c-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
/* hamburger style */
.c-hamburger {
  display: none;
}
.c-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
/* styles for the other elements*/
.c-nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-nav-item {
  margin-left: 5rem;
}
.c-nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #1F1F24;
  font-weight: bold;
  text-decoration: none;
}
.c-nav-link:hover {
  color: #1F1F24;
  font-weight: bolder;
  text-shadow: 2px 2px 2px #D2C2B0;
 
}
.c-nav-logo img {
width:30%
}


/* responsiveness */

@media only screen and (max-width: 700px) {
    .c-nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.15);
}

.c-nav-menu.active{
    left:0;
}
.c-nav-item{
  padding-top: 20px;
    margin: 2rem 0;
}
.c-hamburger{
    display: block;
    cursor: pointer;
}
.c-hamburger.active .c-bar:nth-child(2) {
    opacity: 3;
}
.c-hamburger.active .c-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.c-hamburger.active .c-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}