/* /============ Footer ==============/ */

footer{  
    position: fixed;  
    background:#1F1F24;
    width: 100%;  
    bottom: 0;  
    left: 0;  
}  
   
footer::before{  
    content: '';  
    position: absolute;  
    left: 0;  
    top: 100px;  
    height: 1px;  
    width: 100%;  
    background: #fff;  
}  

footer .content{  
    max-width: 1250px; 
    padding: 30px 40px 40px 40px;  
}  

footer .content .top{  
    display: flex;  
    align-items: center;  
    justify-content: space-between;  
    margin-bottom: 45px;  
}   

.content .top .media-icons{  
  display: flex;  
  justify-items: center;
  padding-left: 785px;
} 

.content .top .media-icons a{  
  height: 40px;  
  width: 40px;  
  margin: 0px 7px;
  border-radius: 50%;  
  align-items: center; 
  line-height: 40px;  
  color: #fff;  
  font-size: 17px;  
  text-decoration: none;  
  transition: all 0.4s ease;  
} 

.copyright{
    color: #fff;
    text-align: center;
    padding-bottom: 40px;;
}

@media screen and (max-device-width: 800px){

    .content .top .media-icons{
        position: sticky;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;  
        height: 25px; 
        width: 100px;  
        line-height: 35px;  
        padding: 0px 100px;
    }
}